.about-products-title{
    color: #331A15;
    font-family: 'Rancho', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-products-description{
    color: #1B1A1A;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}